<div class="text-center">
  <%@error.nil? ? @error = "This page doesn't exist." : @error %>
  <h1><%= @error%></h1><br>

  <img src="/mchammer.gif"/>
  <img src="/mchammer.gif"/>
  <img src="/mchammer.gif"/>
</div>
